body {
    margin: 0;
}

.banner {
    height: 200px;
    width: 100%;
    position: absolute;
    background-image: url(pattern-bg-desktop.png);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-family: monospace;
}

button { 
    height: 6%;
    width: 45px;
    padding: 10px;
    cursor: pointer;
    background-image:icon-arrow.svg;
    position: absolute;
    z-index: 1000;
    margin-top: 5%;
    margin-left: 60%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #fff;
    background-color: #3F3F3F;
 }
 input { 
    padding: 10px;
    height: 3%; 
    width: 290px; 
    margin: 10px;
    position: absolute; 
    z-index: 1000;
    margin-top: 5%;
    margin-left: 41%;
    border-radius: 15px;
}
.arrow{
    height: 5.4%;
    width: 3%;
    position: absolute;
    background-image: url(icon-arrow.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    background-color: #3F3F3F;
    border: solid;
    border-color: #3F3F3F;
    margin-top: 5%;
    margin-left: 60%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 20px;
    text-align: center;

}
.info {
    position: absolute;
    display: flex;
    background-color: #FFF;
    padding: 10px 20px;
    width: 60%;
    height: 12%;
    margin-top: 12%;
    margin-left: 20%;
    font-size: 20px;
    border-radius: 15px;
    z-index: 1000;
}
.info ul{
    display: flex;
    padding: 0px;
    margin: -6%;
}
.info a {
    color: #000;
    text-decoration: none;
    padding: 50px;
}
h2{
    font-size: 25px;
    margin-top: -20px;
}
h5{
    margin-top: 11.5px;
    margin-left: 5px;
    color: #fff;
}
.map{
    margin-top: 15.65%;
    position: absolute;
    width: 100%;
    height: 500px;
}

.mobile-only{
    display: none;
}

@media (max-width: 768px) {
    .banner{
        height: 290px;
        margin-top: 6%;
    }
    .info{
        display: none;
    }

.info {
    padding: 10px 20px;
    width: 82%;
    height: 40%;
    margin-top: 45%;
    margin-left: 7%;
    font-size: 13px;
    border-radius: 15px;
    display: none;
    align-items: center;
}
.search-input{
    height: 5%;
    width: 75%;
    margin-top: 20%;
    margin-left: 8%;
    font-size: 20px;
}
.arrow{
    height: 5.4%;
    width: 12%;
    position: absolute;
    margin-top: 20%;
    margin-left: 85%;
}
.mobile-only {
    text-align: center;
    position: absolute;
    display: flex;
    background-color: #FFF;
    padding: 10px 20px;
    width: 80%;
    height: 28%;
    margin-top: 40%;
    margin-left: 8%;
    font-size: 15px;
    border-radius: 13px;
}
.mobile-only ul{
    padding: 0px;
    margin: -6%;
    margin-left: 20%;
}
.mobile-only a {
    color: #000;
    text-decoration: none;
    padding: 0px; 
}
.map{
    margin-top: 85%;
    width: 100%;
}